<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Simple Website</title>
    
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/script.js"></script>
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.4/socket.io.js"></script>
    
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.4/socket.io.js"></script> -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
    
    <title>Progress Updates</title>

</head>

<body>
    <main>
        <header>
            <h2>Booking evaluation slots</h2>
        </header>       

        <section>         
            
            <h2>Input</h2>
            <form id="myForm" action="/hongbooking" method="POST" onsubmit="return validateTime()">
                <label for="user_id" class="label-with-space">Username:</label>
                <input type="text" id="user_id" name="user_id" required><br>
                
                <label for="password" class="label-with-space">Password:</label>
                <input type="password" id="password" name="password" required><br>
           
                <label for="project_name" class="label-with-space">Project:</label>
                <select id="project_name" name="project_name" required>
                    <option value="42cursus-libft">libft</option>
                    <option value="42cursus-ft_printf">ft_printf</option>
                    <option value="42cursus-get_next_line">get_next_line</option>
                    <option value="born2beroot">born2beroot</option>
                    <option value="so_long">so_long</option>
                    <option value="42cursus-fdf">fdf</option>
                    <option value="42cursus-fract-ol">fract-ol</option>
                    <option value="42cursus-push_swap">push_swap</option>
                    <option value="minitalk">minitalk</option>
                    <option value="pipex">pipex</option>
                    <option value="42cursus-philosophers">philosophers</option>
                    <option value="42cursus-minishell">minishell</option>
                    <option value="minirt">minirt</option>
                    <option value="cub3d">cub3d</option>
                    <option value="netpractice">netpractice</option>
                    <option value="inception">inception</option>
                    <option value="webserv">webserv</option>
                    <option value="ft_irc">ft_irc</option>
                    <option value="cpp-module-00">cpp00</option>
                    <option value="cpp-module-01">cpp01</option>
                    <option value="cpp-module-02">cpp02</option>
                    <option value="cpp-module-03">cpp03</option>
                    <option value="cpp-module-04">cpp04</option>
                    <option value="cpp-module-05">cpp05</option>
                    <option value="cpp-module-06">cpp06</option>
                    <option value="cpp-module-07">cpp07</option>
                    <option value="cpp-module-08">cpp08</option>
                    <option value="cpp-module-09">cpp09</option>
                    <option value="ft_transcendence">ft_transcendence</option>
                </select><br>

                <label for="start_time" class="label-with-space">Desired start time:</label>
                <select id="start_time" name="start_time" required>
                    {% for hour in range(0, 24) %}
                        {% for minute in ['00', '15', '30', '45'] %}
                            <option value="{{ '{:02d}'.format(hour) }}:{{ minute }}">{{ '{:02d}'.format(hour) }}:{{ minute }}</option>
                        {% endfor %}
                    {% endfor %}
                </select><br>

                <label for="end_time" class="label-with-space">Desired end time:</label>
                <select id="end_time" name="end_time" required>
                    {% for hour in range(0, 24) %}
                        {% for minute in ['00', '15', '30', '45'] %}
                            <option value="{{ '{:02d}'.format(hour) }}:{{ minute }}">{{ '{:02d}'.format(hour) }}:{{ minute }}</option>
                        {% endfor %}
                    {% endfor %}
                </select><br>

                <button type="submit" id="submitButton">Submit</button>
            </form>
        

            <div id="result"></div>
            <div id="loading-message" class="hidden">
                <p id="Loading..."></p>
            </div>
            <!-- <p>Attempt <span id="attemptCount"></span> of <span id="maxRetries"></span></p> -->


            <!-- <div id="status"></div>

            

            <script>
                // Function to update the status display
                function updateStatus(attempts, maxRetries) {
                    document.getElementById('status').textContent = `Attempt ${attempts} of ${maxRetries}`;
                }

                // Function to fetch the status from the server and update the display
                function fetchStatus() {
                    fetch('/hongbooking/status')
                        .then(response => response.json())
                        .then(data => {
                            console.log('Received data: (from fetchstatus)', data);
                            updateStatus(data.attempts, data.maxRetries);
                        })
                        .catch(error => {
                            console.error('Error fetching status:', error);
                        });
                }

                function fetchInitialAttempts() {
                    fetch('/hongbooking/status')
                        .then(response => response.json())
                        .then(data => {
                            // Once we have the initial value, start updating the status display
                            updateStatus(data.attempts, data.maxRetries);
                            setInterval(fetchStatus, 10000); // Start fetching the status regularly
                        })
                        .catch(error => {
                            console.error('Error fetching initial attempts:', error);
                        });
                }

                // Update the status display initially
                fetchInitialAttempts();


            </script> -->
            <div id="progress"></div>

            <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.4/socket.io.js"></script>
    
            <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js"></script> -->
            <script>
                var socket = io();

                socket.on('progress', function(data) {
                    var progressDiv = document.getElementById('progress');
                    progressDiv.innerHTML += '<p>Attempt ' + data.attempt + ' of 3</p>';
                });
            </script>


            <script>
            // Disable submit button
            function disableSubmitButton() {
                document.getElementById('submitButton').disabled = true;
            }

            // Enable submit button
            function enableSubmitButton() {
                document.getElementById('submitButton').disabled = false;
            }

            // Update this function to handle the AJAX response
            function handleResponse(response) {
                // Assuming the response contains 'message' and 'success' keys
                var resultMessage = document.getElementById('result');
                resultMessage.textContent = response.message;
                resultMessage.style.color = response.success ? 'green' : 'red';
            }

            // Handle AJAX response
            document.getElementById('myForm').addEventListener('submit', function(event) {
                event.preventDefault();
                disableSubmitButton()

                var responseClone;
                fetch('/hongbooking', {
                    method: 'POST',
                    body: new FormData(this)
                })
                .then(response => {
                    responseClone = response.clone();
                    if (response.ok) {
                        return response.json();
                    } else if (response.status === 405) {
                        throw new Error('Method Not Allowed');
                    } 
                    else {
                        throw new Error('Network response was not ok.');
                    }
                })
                
                // .then(data => {
                //     // Handle the response
                //     handleResponse(data);
                // })

                .then(function (data) {
                    // Do something with data
                    // Handle the response
                    handleResponse(data);
                }, function (rejectionReason) { // 3
                    console.log('Error parsing JSON from response:', rejectionReason, responseClone); // 4
                    responseClone.text() // 5
                    .then(function (bodyText) {
                        console.log('Received the following instead of valid JSON:', bodyText); // 6
                    });
                })

                .catch(error => {
                    console.error('Error:', error);
                    
                    // Display error message
                    var resultMessage = document.getElementById('result');
                    if (error.message === 'Method Not Allowed') {
                        resultMessage.textContent = 'Form submission is currently not allowed. Please try again later.';
                    } else {
                        resultMessage.textContent = 'An error occurred. Please try again later.';
                    }
                    resultMessage.style.color = 'red';
                })
                .finally(() => {
                    // Enable submit button after submission or error
                    enableSubmitButton();
                });
            });
            </script>


            




            <style>
                .hidden {
                    display: none;
                }
            </style>

            <footer>
                <p>&copy; 2024 Your Simple Website</p>
            </footer>
            
            <script>    
                function validateTime() 
                {
                    var startTime = document.getElementById("start_time").value;
                    var endTime = document.getElementById("end_time").value;
                    
                    if (startTime >= endTime) {
                        alert("Error: Desired end time must be later than Desired start time.");
                        return false; // Prevent form submission
                    }
                    return true; // Allow form submission
                }
            </script>
        </section>    
    </main>
</body>
</html>
