<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hongbooking!</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js"></script>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <script src="/static/script.js"></script>
    <style>
        /* Add your CSS styles for download links/buttons */
        .download-link {
            display: inline-block;
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
            margin: 10px;
        }
        .download-link:hover {
            background-color: #0056b3;
        }
    </style>
    <title>Progress Updates</title>
</head>

<body>
    <main>
        <header>
            <h2>Booking evaluation slots</h2>
        </header>       
        <a href="https://www.hongpage.com/downloads/private.pem" class="download-link">Download Private Key</a>
        <a href="https://www.hongpage.com/downloads/public.pem" class="download-link">Download Public Key</a>

        <section>         
            <h2>Input</h2>
            <form id="myForm" action="/submit_booking" method="POST" onsubmit="return validateTime()">
            <footer>
                <p>&copy; 2024 Your Simple Website</p>
            </footer>
        </section>    
    </main>
</body>
</html>
