<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hongbooking!</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js"></script>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <script src="/static/script.js"></script>

    <title>Progress Updates</title>
</head>

<body>
    <main>
        <header>
            <h2>Booking evaluation slots</h2>
        </header>  

        
        <!-- Hidden input field to hold the password -->
        <input type="hidden" id="passwordInput" value="{{ password }}">
        
        <h2>Password:</h3>
        <!-- Display the password -->
        <p><span id="displayPassword">{{ password }}</span></p>
        
        <!-- Button to copy password -->
        <button id="copyButton" class="copy-password">Copy password</button>

        <br><br>
        <br><br>
        <br><br>
        <br><br>
        <br><br>
        <br><br>

        <h3>Student file download</h3>
        <a href="/cgi-bin/download_s.py" class="download-button">Download Student File</a>

        <h3>Piscine file download</h3>
        <a href="/cgi-bin/download_p.py" class="download-button">Download Piscine File</a>



        <!-- <h3>Student file download</h3>
        <form action="/cgi-bin/download_s.py" method="post" enctype="multipart/form-data">
            <input type="submit" value="Download">
        </form>
        
        <h3>Piscine file download</h3>
        <form action="/cgi-bin/download_p.py" method="post" enctype="multipart/form-data">
            <input type="submit" value="Download">
        </form> -->

        <!-- <div id="fileInfo"></div> 
        <a id="downloadLink" style="display: none;" download>Download File</a>
        <br>
        <hr><h2>Files currently stored on the server</h2>
        <embed type="text/html" src="/cgi-bin/list.sh" width="200" height="50"> -->



        <section>         
           
            
            <footer>
                <p>&copy; Hongbooking</p>
            </footer>
        </section>    
    </main>

    <script>
        // Function to copy password to clipboard
        function copyPassword() {
            // Select the span element containing the password
            var passwordSpan = document.getElementById("displayPassword");
            
            // Create a range object
            var range = document.createRange();
            // Select the text inside the span element
            range.selectNode(passwordSpan);
            // Add the range to the current selection
            window.getSelection().addRange(range);
            
            // Copy the selected text to clipboard
            document.execCommand("copy");
            
            // Clear the selection
            window.getSelection().removeAllRanges();
            
            // Alert the user
            alert("Password copied to clipboard!");
        }

        // Add click event listener to copy button
        document.getElementById("copyButton").addEventListener("click", copyPassword);
    
        // Function to fetch a new password every 30 minutes
        function updatePassword() {
            // Fetch the new password from the server
            fetch('/get_password')
                .then(response => response.json())
                .then(data => {
                    var password = data.password;
                    // Update the displayed password
                    document.getElementById("passwordInput").value = password;
                    document.getElementById("displayPassword").textContent = password;
                })
                .catch(error => console.error('Error fetching password:', error));
        }

        // Call the updatePassword function initially
        updatePassword();

        // Call the updatePassword function every 30 minutes
        setInterval(updatePassword, 30 * 60 * 1000); // 30 minutes in milliseconds

    
    
    
    </script>
</body>
</html>
