<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hongbooking!</title>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js"></script>
    
    
    <link rel="stylesheet" href="/static/style.css">
    
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    
    <script src="/static/script.js"></script>

    

    
    <title>Progress Updates</title>

</head>

<body>
    <main>
        <header>
            <h2>Booking evaluation slots</h2>
        </header>       

        <section>         
            
           
            
            <h2>Input</h2>
            <form id="myForm" action="/hongbooking" method="POST" onsubmit="return validateTime()">
                



            <footer>
                <p>&copy; 2024 Your Simple Website</p>
            </footer>
            
            
        </section>    
    </main>
</body>
</html>
