<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hongpage!</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js"></script>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <script src="/static/script.js"></script>


</head>

<body>
    <main>
        <header>
            <h2>Booking evaluation slots</h2>
        </header>  

        <sector>
            <br>
            <br>

            <br>
            
          

            <h3>
                Name : Hongbae Kim<br>
                Address : Guerickestrasse, 10587 Berlin, Germany<br>
                Contact : +49 157 3472 7901<br>
                Email : hongpei17@gmail.com<br>
                User name from 42 : hongbaki<br>

                
<!-- Information about commercial register and registration number -->
<!-- If the business activity is subject of approval from a state agency, details of the relevant supervisory body
VAT ID, if available -->
<!-- If the occupation of the business owner is requiring a special license/permit, then information about the authority granting that license/permit, 
professional rules and how they can be accessed. -->
            </h3>
                
                
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        
        
        </sector>

        <footer>
            <p>&copy; Hongbooking</p>
        </footer>
        <p>Users online: <span id="usersOnline">0</span></p>

        
    </main>
    
    <div class="bottom-link" style="text-align: center;">
        <a href="https://youtu.be/FClqKwgo5Bw?si=2FNA79uaEoGimBo3" target="_blank" title="Quick introduction to HTML">
            Quick introduction my 42berlin experience
        </a>
        <a href="/imprint" target="_self" title="Imprint">
            <h3>Imprint</h3>
        </a>    
    </div>


</body>
</html>


