<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hongpage!</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js"></script>
    <!-- <script src="/socket.io/socket.io.js"></script> -->
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <script src="/static/script.js"></script>

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9013171816437922"
     crossorigin="anonymous"></script>

</head>

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9013171816437922"
     crossorigin="anonymous"></script>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-L8B6SJ73YY"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-L8B6SJ73YY');
</script>

<body>
    <main>
        <header>
            <h2>Welcome to Hongpage</h2>
        </header>  

        <sector>
            <br>
            <br>

            <br>
            <div class="horizontal-links">    
                <!--page2-->
                <a href="/hongbooking" target="_self" title="Go to Booking Evaluation">
                    <h3>Hongbooking</h3>
                </a>
                
                <!-- Link to page 3 -->
                <!-- <pages href="upload" target="_self" title="Go to page 3">
                    <h2>Upload</h2>
                </pages>

                Link to page 4
                <pages href="page4" target="_self" title="Go to page 4">
                        <h2>Go to page 4</h2>
                </pages> -->
            </div>


                
                
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        
        
        </sector>

        <footer>
            <p>&copy; Hongpage</p>            
        </footer>
        <!-- <p>Users online: <span id="usersOnline">0</span></p> -->
        
        
        <!-- <div id="cookieConsent" class="cookie-consent">
            <p>This website uses cookies to ensure you get the best experience on our website.</p>
            <button onclick="acceptCookies()">Got it!</button>
        </div>
         -->
    </main>
    
    <div class="bottom-link" style="text-align: center;">
        <a href="https://youtu.be/FClqKwgo5Bw?si=2FNA79uaEoGimBo3" target="_blank" title="Quick introduction to HTML">
            Quick introduction to my 42berlin experience
        </a>
        <a href="/imprint" target="_self" title="Imprint">
            <h4>Imprint</h4>
        </a>    
    </div>
    

</body>
</html>


