<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hongpage!</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js"></script>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <script src="/static/script.js"></script>


</head>

<body>
    <main>
        <header>
            <h2>Booking evaluation slots</h2>
        </header>  

	
        <br>
        <br>

        <br>
        <div class="horizontal-links">    
            <!--page2-->
            <a href="/hongbooking" target="_self" title="Go to Booking Evaluation">
                <h1>Booking evaluation</h1>
            </a>
            
            <!-- Link to page 3 -->
            <!-- <pages href="upload" target="_self" title="Go to page 3">
                <h2>Upload</h2>
            </pages>

            Link to page 4
            <pages href="page4" target="_self" title="Go to page 4">
                    <h2>Go to page 4</h2>
            </pages> -->
        </div>


            
            
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <section>         
            <footer>
                <p>&copy; Hongbooking</p>
            </footer>
        </section>    

        <div class="bottom-link" style="text-align: center;">
            <a href="https://youtu.be/FClqKwgo5Bw?si=2FNA79uaEoGimBo3" target="_blank" title="Quick introduction to HTML">
              Quick introduction my 42berlin experience
            </a>
        </div>
    </main>



</body>
</html>


